/* Main container */
.hoverMode:hover {
    font-size: 40px;
}

.pinStyle:hover {
    font-size: 50px;
}

.cardContainer {
    margin-bottom: 5px;
}

/* Note Container */
.noteContainer {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 250px;
    margin: 5px;
}

/* Note style */
.noteStyle {
    font-Size: 22px;
}

.noteStyle p {
    font-size: 20px;
}

.noteCard {
    padding: 0 0 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    font-family: 'Akaya Kanadaka';
    font-size: 25px;
    height: 250px;
    border: 1.5px solid black;
    border-radius: 15px;
    width: 20rem;
}

/* update/Delete Styling */
.updateDeleteContainer {
    display: flex;
    width: 75px;
    align-Items: center;
    justify-Content: space-around;
}

/* Pin toggle styling */
.pinStyle {
    /* margin: 5px; */
    font-size: 35px;
}